*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/
/.idea/*
/target/*
telenote.iml
/src/main/resources/config/application.yml
/src/main/resources/config/keystore.p12
# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
