*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/
/.idea/*
/target/*
telenote.iml
/javadocs
/src/main/resources/config/spring.log
/src/main/resources/config/application-*.yml
/src/main/resources/config/application.yml
/src/main/resources/keystore.p12
/src/main/resources/public/css/gulp/
/src/main/resources/public/js/gulp/
/node_modules
# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
