body {
	background-color: #414141;
}

.page {
  	background-color: #414141;
}

.page__header {
	background-color: #313131;
}

.status {
	color: #a1a1a1;
}

.noteSpace {
	color: #f5f5f5;
}

.noteSection__note {
	background-color: #f5f5f5;
}

.noteSection__delBtn, .noteSection__shaBtn {
	background-color: #f5f5f5;
}

.noteSection__note button:hover {
	background-color: #e2e2e2;
}

.textarea {
	color: #010101;
	background-color: #f5f5f5;
}

.welcome {
	color: #FFFFFF;
}

.noteSection__control {
	border-top: 1px solid #dcdcdc;
}

#emptyList {
	color: white;
}

#select {
	background-color: #313131;
	color: #f5f5f5;
}

button:focus {
	outline: none;
}

.changePassMessageError {
	color: #f74e19;
	display: block;
}

.changePassMessageSuccess {
	color: #32c87a;
	display: block;
}

.grayBack {
    background-color : gray;
}
