body {
	background-color: #d7dbe2;
}

.page {
  	background-color: #d7dbe2;
}

.page__header {
	background-color: #20406c;
}

.page__status {
	background-color: #fff;
	color: black;
}

.page__statusTriangle {
	border-color: transparent #ffffff transparent transparent;
}

.status {
	color: #000000;
}

.noteSpace__sectionInfo {
	background-color: rgba(176, 184, 193, 0.8);
	color: black;
}

.noteSection__note {
	background-color: #ffffff;
}

.noteSection__note button:hover {
	background-color: #ebedf0;
}

.textarea {
	color: #010101;
	background-color: #ffffff;
}

.welcome {
	color: #010101;
}

.noteSection__control {
	border-top: 1px solid #e1e1e1;
}

.noteSpace__empty {
	color: black;
}

#select {
	background-color: #20406c;
	color: #ededed;
}

.noteSection__delBtn, .noteSection__shaBtn {
	background-color: #ffffff;
	border: none;
	color: #ededed;
}

button:focus {
	outline: none;
}

.changePassMessageError {
	color: #f74e19;
	display: block;
}

.changePassMessageSuccess {
	color: #32c87a;
	display: block;
}

.grayBack {
    background-color : gray;
}
