body{
	font-family: "Comic Sans MS";
	font-size: 14px;
	background-color: gray;
}
.mainDiv{
	width: 400px;
	border: 2px solid black;
	padding: 25px;
	display: inline-block;
  	text-align: center;
  	vertical-align: middle;
  	background-color: white;
  	margin-top: 60px;
}

#top{
	width: 100%;
	display: inline-block;
	text-align: center;
	display: inline-block;
  	
}

div#top div{
	margin-bottom: -67px;
  	background-color: white;
  	display: inline-block;
  	text-align: justify;
  	padding-left: 12px;
  	font-weight: bold;
}

#difTop{
	margin-bottom: 0px !important;
}

.resetB{
	margin-bottom: 0px !important;
	margin-top: 60px;
}

.resetT{
	margin-top: -2px;
}

#bottom{
	width: 100%;
	display: inline-block;
	text-align: center;
	display: inline-block;
}

div#bottom div{
	background-color: white;
	display: inline-block;
  	margin-top: -2px;
}

.formBorder{
	width: 400px;
	height: 30px;
	border: 2px solid black;
	clear: both;
}

.btnProperty{
	width: 51%;
    margin-right: -5px;
}

.rightBtn{
	margin-left: -2px;
}

.btnPos{
	width: 100%;
	margin: auto;
}

#signWith{
	float: left;
}

.nextBlock{
	margin-bottom: 20px;
	display: inline-block;
  	text-align: center;
  	width: 100%
}

#endForm{
	margin-bottom: 0px !important;
}

.signIcons{
	float: right;
	width: 70%;
}

#sizeIconBar{ width: 53px;; float: left; }

.signIcons span{
	text-align: justify;
}

hr{
	background-color: black;
	width: 95%;
	height: 2px;
	border: none;
	margin: auto;
	margin-bottom: 10px;
}

form.formStyle{
	display: inline-block;
  	text-align: center;
  	width: 100%;
}

.inputDiv{
	margin: auto;
	width: 90%;
}

.labelProperty{
	float: left;
	font-weight: bold;
	clear: both;
}

.textboxProperty{
	float: right;
	padding-left: 3px;
	margin-bottom: 20px;
	border: 1px solid black;
}

.forgot{
	float: left;
	clear: both;
}

.forgotDiv{
	margin-top: 100px;
}

.submitBtn{
	margin: auto;
	width: 80px;
}

.regDiv{
	float: left;
	width: 100%;
}

.textboxRegProperty{
	float: right;
	width: 100%;
	border: 1px solid black;
	margin-bottom: 10px;
}

.submitRegBtn{
	margin: auto;
	width: 80px;
}

.headerWrapper{
	display: inline-block;
  	text-align: center;
 	 width: 90%;
}

.middlePlace{
	 width: 100%;
	  display: inline-block;
	  text-align: center;
}

#hintFormat{
	display: inline-block;
  	text-align: justify;
}

.workDiv{
	widows: 100%;
}

.noteDiv{
	float: left;
	width: 80%;
	display: inline-block;
	text-align: center;
}

.cell{
	width: 80px;
	height: 80px;
	background-color: orange;
}

div.regDiv input:focus {
	border: 1px solid blue;
}
