@font-face {
	font-family: "Room";
	src: url("fonts/Room/Room.otf");
}

.mainDiv{
	width: 400px;
	display: inline-block;
  	text-align: center;
  	vertical-align: middle;
  	background-color: #414141;
}

.btnProperty{
	width: 51%;
    margin-right: -5px;
}

.rightBtn{
	margin-left: -2px;
}

.btnPos{
	width: 100%;
	margin: auto;
}

#signWith{
	float: left;
}

.nextBlock{
	margin-bottom: 20px;
	display: inline-block;
  	text-align: center;
  	width: 100%
}

#endForm{
	margin-bottom: 0px !important;
}

form.formStyle{
	display: inline-block;
  	text-align: center;
  	width: 100%;
  	background-color: #414141;
}

.inputDiv{
	margin: auto;
	width: 80%;
}

.labelProperty{
	float: left;
	font-weight: bold;
	clear: both;
}

.textboxProperty{
	float: right;
	padding-left: 3px;
	margin-bottom: 20px;
	border: 1px solid black;
}

.forgot {
	float: left;
	clear: both;
	margin-bottom: -22px;
}

.forgotDiv{
	margin-top: 100px;
}

.submitBtn {
	width: 100%;
	padding: 13px 0 13px 0;
	border: 0px;
	background-color: #464646;
	color: #2e2e2e;
	font-size: 17px;
  	font-family: "Room";
}

.regDiv {
	float: left;
	width: 100%;
}

.textboxRegProperty{
	float: right;
	width: 100%;
	border: 1px solid black;
	margin-bottom: 10px;
}

.middlePlace{
	 width: 100%;
	  display: inline-block;
	  text-align: center;
}

#hintFormat{
	display: inline-block;
  	text-align: justify;
}

.workDiv{
	widows: 100%;
}

div.regDiv input:focus {
	border: 1px solid orange;
}

.modal-body {
	padding: 0px;
}

.modal-dialog {
	width: 400px;
}

.nav-tabs {
	border: 0px !important;
	margin-bottom: 32px;
}

.nav-tabs li {
	width: 50%;
	margin: 0px;
	background-color: #383838;
	color: white;
	margin-bottom: -2px;
}

.nav-tabs > li > a {
	margin: 0px;
	border: 0px !important;
	border-radius: 0px;
	border-bottom: 0px;
	padding: 13px 0 13px 0;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
	border: 0px;
	color: white;
	background-color: #383838;
}

a {
	color: #bdbdbd;
}

li a:hover, a.forgot:hover {
	background-color: #414141;
	color: #bdbdbd;
}

li:hover {
	background-color: #414141;
}

a:focus {
	outline: none;
	text-decoration: none;
}

li.active {
	border-bottom: 2px solid orange;
}

.nav-tabs:hover {
	background-color: #414141;
}

input[type='textbox'], input[type='password'] {
	padding: 13px 13px;
	font-size: 12px;
  	font-family: "Roboto";
  	color: #7c7c7c;
  	margin-bottom: 22px;
}
