@font-face {
	font-family: "Room";
	src: url("fonts/Room/Room.otf");
}

@font-face {
	font-family: "Roboto-Light";
	src: url("fonts/Roboto/Roboto-Light.ttf");
}

@font-face {
	font-family: "Roboto-LightItalic";
	src: url("fonts/Roboto/Roboto-LightItalic.ttf");
}

@font-face {
	font-family: "Roboto-Regular";
	src: url("fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
	font-family: "Roboto-Thin";
	src: url("fonts/Roboto/Roboto-Thin.ttf");
}

@font-face {
	font-family: "Roboto-ThinItalic";
	src: url("fonts/Roboto/Roboto-ThinItalic.ttf");
}

body{
	font-family: "Roboto-Light";
	padding: 0px;
	margin: 0px;
	font-size: 16px;
	background-color: #414141;
	-moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.container{
	min-width: 460px;
  	width: 100%;
  	padding: 0px;
  	background-color: #414141;
}

@media only screen and (max-width: 800px) {
	
	.headWrapper {
	  	height: 60px !important;
	}

	.logoImg {
		display: none !important;
	}

	.slogon {
		margin-top: 4px !important;
	}

	.userImg{
		display: none;
	}

	.logMenu{
		margin-top: -14px !important;
		margin-right: -6px !important;
	}

	.user {
		margin-top: 6px !important;
  		margin-bottom: -4px !important;
	}

	#username {
		font-size: 15px !important;
	}

	#logout {
		font-size: 11px !important;
	}

	.addNoteDiv {
		margin-top: 38px !important;
	  	margin-left: 65% !important;
	}

	.minStatus {
		display: inherit !important;
		float: right;
		background-image: url('../img/ok.png');
		background-repeat: no-repeat;
		background-size: cover;
		width: 17px;
  		height: 13px;
  		margin-top: 7px;
  		font-size: 16px;
  		cursor: default;
  		color: white;
	}

	.status {
		display: none !important;
	}

	.statusDiv {
		width: 30px !important;
	}

	.welcome {
		margin-top: 80px !important;
	}

	.workDiv {
		margin-top: 110px !important;
	}
}

.headWrapper{
	width: 100%;
	margin: auto;
	height: 88px;
	background-color: #313131;
	position: fixed;
	z-index: 1;
	box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.15);
}

.logoDiv{
	float: left;
	margin-top: 15px;
}

.logoImg {
	float: left;
	background-image: url("/img/logo.png");
	width: 55px;
	height: 65px;
	display: inline-block;
	margin-left: 15px;
	background-size: cover;
}

.slogon {
	background-image: url("/img/label.png");
	width: 159px;
	height: 21px;
	display: inline-block;
	margin-left: 16px;
  	margin-top: 20px;
	vertical-align: top;
	background-size: cover;
}

.in-outMenu{
	float: right;
	text-align: justify;
	margin-right: 25px;
	margin-top: 20px;
	display: inline-flex;
}

.rgihtMenu {
	float: left;
}

.userImg{
	float: left;
	width: 50px;
	height: 50px;
	margin-left: 16px;
	background-image: url('../img/user.png');
	background-size: cover;
}

.logMenu{
	text-align: right;
	margin-left: 10px;
	margin-top: 2px;
}

.user {
	margin-top: -3px;
	margin-bottom: -3px;
}

#username {
	color: white;
	font-family: "Roboto-Light";
	font-size: 19px;
}

#logout {
	font-family: "Roboto-Thin";
	font-size: 15px;
	color: white;
}

.addNote {	
	float: right;	
}

.addNote img {
	cursor: pointer;
	box-shadow: 0px 5px 12.45px 2.55px rgba(0, 0, 0, 0.2);
	border-radius: 50px;
	width: 40px;
}

.addNote img:hover {
	width: 45px;
	margin-top: -3px;
	margin-left: -3px;
	box-shadow: 0px 5px 16.02px 1.98px;
	width: 
}

.addNote img:active {
	background: url("../img/addBtn-click.png");
	box-shadow: 0px 10px 12.45px 2.55px rgba(0, 0, 0, 0.15); 
}

.addNoteDiv {
	margin-top: 67px;
  	margin-bottom: -29px;
  	float: right;
  	position: fixed;
 	margin-left: 55%;
}

.status {
	color: #a1a1a1;
	cursor: default;
	font-family: "Roboto-LightItalic";
	font-size: 12px;
}

.statusDiv {
	float: right;
	margin-right: 12px;
	width: 200px;
	text-align: right;
	margin-top: -4px;
}

.minStatus {
	display: none;
}

a:hover {
	color: white;
}

.noteManager{
	margin-left: 20px;
	float: left;
}

#normalize{
	margin-top: 0px;
}

.centrum{
	display: inline-block;
	text-align: center;
	border-color: black;
}

.workDiv{
	width: 100%;
  	display: inherit;
  	margin-top: 118px;
  	text-align: center;
}

.noteDiv {
	float: left;
	width: 100%;
	padding-right: 250px;
	display: inline-block;
}

.cell{
	cursor: -webkit-grab;
	vertical-align: top;
	width: 350px;
	height: 200px;
	background-color: #f5f5f5;
	margin: 0 18px 32px 18px; 
	display: inline-block;
	box-shadow: 0px 3px 9.1px 0.9px rgba(0, 0, 0, 0.15);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.cell:hover {
	box-shadow: 0px 5px 14.94px 3.06px rgba(0, 0, 0, 0.15);
}

.delBtn, .shaBtn {
	float: left;
	width: 80px;
  	height: 0px;
	background-color: #f5f5f5;
	border: 0px;
	background-repeat: no-repeat;
	background-position: center;
	padding: 0px;
}

.delBtn:focus, .shaBtn:focus {
	outline: none;
}

.delBtn {
	background-image: url("../img/delBtn.png");
}

.delBtn:active {
	background-image: url("../img/delBtn-click.png");
}

.shaBtn {
	background-image: url("../img/shareBtn.png");
	float: right;
}

.shaBtn:active { 
	background-image: url("../img/shareBtn-click.png");
}

.content {
	text-align: left;
	height: 159px;
	width: 100%;
	padding: 8px 14px 8px 14px;
	font-family: "Roboto-Light";
	font-size: 15px;
}

.cell button:hover {
	background-color: #e2e2e2;
}

.textarea {

	font-family: "Roboto-Light";
	font-size: 15px;
	resize: none;
	width: 100%;
	height: 159px;
	background-color: #d6d6d6;
	padding: 8px 14px 8px 14px;
	color: #000000;
	display: block;
}

.textarea:active,
.textarea:focus, 
.textarea {
	padding: 8px 14px 8px 14px;
	border: none;
	outline: none;
}

.welcome {
	text-align: center;
	margin: auto;
	margin-top: 140px;
	font-family: "Roboto-bold";
	color: #FFFFFF;
	width: 80%;
}

.emptyMain {
	text-align: center;
	margin-top: 50px;
}

.control {
	border-top: 1px solid #dcdcdc;
	height: 0px;
	margin-top: 40px;
	visibility: hidden;
	cursor: -webkit-grab;
}

.dropdown-menu .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #f74e19;
  z-index: 1;
}

#emptyList {
	color: white;
}

.email_label {
padding: 4px 6px 0 6px;
margin-bottom: 0px;
}

.float-left {
  float:left;
}
.text-align-left {
  text-align: left;
}
.shareUsers {
  width: 250px;
  height: 400px;
  overflow: hidden;
  position: fixed;
  right: 10px;
  /* border: #FF0 dashed 1px; */
  /* border-radius: 5px; */
  outline: 1px dashed rgb(255, 255, 255);
  outline-offset: 5px;
  outline-style: dotted;
  /* Box-shadow: 0px 0px 0px 2px #f00; */
}

.answer_label {
  padding-left: 24px;
  color: #ffffff;
}

.option-container {
  text-align: left;
  width: 250px;
  height: auto;
  float: left;
  padding-bottom: 8px;
}

input[type="checkbox"] {
  display:none;
}
input[type="checkbox"] + label {
  display:inline-block;
  margin:-1px 4px 0 0;
  vertical-align:middle;
  background:url(../img/c_unchecked.png) left top no-repeat;
  cursor:pointer;
}
input[type="checkbox"]:checked + label {
  background:url(../img/c_checked.png) left top no-repeat;
}