body{
	margin-top: 15px;
	font-family: "Comic Sans MS";
	font-size: 16px;
	background-color: #eeeeee;
}

.container{
	margin-left: 0px;
  	margin-right: 0px;
  	width: 100%;
}

.headWrapper{
	margin: 0 10px 0 10px;
	width: 95%;
  	margin: auto;
}

.logoDiv{
	float: left;
	margin-top: -10px;
}

.slogonDiv{
	float: left;
	display: inline-block;
  	text-align: center;
  	cursor: default;
}

div.slogonDiv span{
	font-size: 28px;
	font-weight: bold;
}

#subSpan{
	font-size: 12px;
	font-weight: normal;
}

.in-outMenu{
	float: right;
	text-align: justify;
	margin-right: 10px;
	display: inline-flex;
}

.rgihtMenu {
	float: left;
}

.userImg{
	float: left;
	width: 80px;
	height: 80px;
	padding-bottom: 85px;
}

.logMenu{
	float: left;
	clear: both;
	margin-left: 10px;
}

.addNote {	
	float: right;
	height: 40px;
    width: 40px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    border: 2px solid black;
    margin-bottom: 10px;
    text-align: center;
  	padding-top: 1px;
  	font-size: 26px;
  	background-color: white;
  	cursor: pointer;
}

.addNoteDiv {
	clear: both;
	float: right;
}

.newNote {
	margin-right: 10px;
	margin-top: 10px;
	float: right;
	cursor: default; 
}

hr{
	background-color: black;
	width: 95%;
	height: 2px;
	border: none;
	margin: auto;
	margin-bottom: 10px;
}

div span{
	font-weight: bold;
}

.menuWrapper{
	margin: 0 10px 0 10px;
	width: 97%;
	margin-bottom: -16px;
	float: left;
}

div.menuWrapper div.noteManager div#circle span{
	font-size: 16px;
}

.noteManager{
	margin-left: 20px;
	float: left;
}

#manageBtn{
	margin-right: -4px;
}

#normalize{
	margin-top: 0px;
}

.centrum{
	display: inline-block;
	text-align: center;
	border-color: black;
}

.workDiv{
	width: 100%;
	height: 480px;
	overflow-y: auto;
	display: inline-block;
  	text-align: center;
}

.noteDiv{
	width: 100%;
	display: inline-block;
	text-align: center;
	width: 95%;
}

.cell{
	min-width: 250px;
	width: 31%;
	height: 250px;
	background-color: #ffe599;
	border: 2px solid black;
	float: left;
	margin-right: 3%;
	margin-bottom: 25px; 
}

.lastcell {
	margin-right: 0% !important;
}

.delBtn, .shaBtn, .edBtn{
	float: left;
}

.delBtn, .shaBtn {
	width: 35%;
}

.edBtn {
	width: 30%;
}

.content {
	height: 219px;
	padding: 10px;
}

.cell button:hover, .cell button:focus, 
.cell button:active {
	background-color: #95bcf2;
}

.content textarea {
	resize: none;
	width: 100%;
	height: 100%;
	background-color: #ffe599;
	border: none;
}

.content textarea:active,
.content textarea:focus, 
.content textarea {
	border: none;
}

.welcome {
	text-align: center;
	margin: auto;
	margin-top: 80px;
	font-weight: bold;
}