@font-face {
	font-family: "Room-Thin";
	src: url("/css/fonts/Room/Room-Thin.otf");
}

@font-face {
	font-family: "Lato-Thin";
	src: url("/css/fonts/Lato/Lato-Thin.ttf");
}

.workDiv {
	width: 600px;
	margin: auto;
	margin-top: 118px;
	text-align: center;
}

.profileDiv, .passwordDiv, .themeDiv {
	width: 100%;
	background-color: rgb(245, 247, 250);
	box-shadow: 0px 5px 7.6px 0.4px rgba(0, 0, 0, 0.05);
	margin-bottom: 25px;
	text-align: left;
}

.profileHeader, .passwordHeader, .themeHeader {
	background-repeat: no-repeat;
	background-position: 20px 10px;
	background-color: #f67d58;
	width: 540px;
	height: 29px;
	padding-top: 11px;
	padding-left: 60px; 
	color: white;
	text-align: left;
	font-family: "Room";
	font-size: 18px;
	margin-bottom: 15px;
}

.profileHeader {
	background-image: url("/img/profileBlock.png");
}

.passwordHeader {
	background-image: url("/img/passwordBlock.png");
}

.themeHeader {
	background-image: url("/img/themeBlock.png");
	margin-bottom: 0px;
}

.nameDiv {
	margin-bottom: 20px;
}

.labelName, .labelEmail, .labelCurrentPass, .labelNewPass {
	margin-left: 45px;
  	font-family: "Roboto-Light";
  	color: black;
}

.labelName {
	margin-right: 35px;
}

.labelEmail {
	margin-right: 22px;
}

.labelCurrentPass {
	margin-right: 45px;
}

.labelNewPass {
	margin-right: 61px;
}

.username, .currentPass, .newPass {
	box-shadow: 0px 5px 7.6px 0.4px rgba(0, 0, 0, 0.05);
	border-radius: 2px;
	padding: 7px;
	border: 1px solid white;
  	font-family: "Roboto-Light";
}

.username {
	width: 200px;
}

.currentPass, .newPass {
	width: 185px;
}

.username:active, input:active {
	border: 1px solid white;
	outline: none;
}

.emailDiv {
	padding-bottom: 20px;
	font-family: "Lato-Thin";
	color: black;
}

.logoDiv {
	width: 244px;
}

.currentPassDiv {
	margin-bottom: 20px;
}

.newPassDiv {
	padding-bottom: 20px;
}

.themes {
	width: 570px;
	height: 110px;
  	padding: 10px 15px 10px 15px;
}

.theme {
	float: left;
  	margin: 15px;
  	background-size: cover;
	background-position: center;
	width: 80px;
	height: 80px;
	border: 2px solid rgb(245, 247, 250);
}

.chosen {
	border: 2px solid #f67d58;
}

.theme1 {
	background-image: url("/img/lightDenIcon.png");
}

.theme2 {
	background-image: url("/img/darkDenIcon.png");
}

.submit {
	border-radius: 2px;
	background-color: rgb(32, 64, 108);
	font-family: "Room-Thin";
	color: white;
	font-size: 17px;
	padding: 10px 30px 10px 30px;
	margin-bottom: 20px;
}

.errorPassDiv, .errorUsernameDiv {
	background-image: url("/img/errorIcon.png");
	background-repeat: no-repeat;
  	background-position: 10px 5px;
	float: left;
	word-wrap: normal;
  	background-color: white;
  	padding-top: 7px;
  	padding-left: 20px;
  	padding-bottom: 5px;
    padding-right: 5px;
  	//padding-right: 7px;
  	display: inline-block;
  	//height: 20px;
  	/* text-align: right; */
  	font-size: 12px;
  	font-family: "Roboto-Light";
  	color: black;
}

.errorUsernameDiv {
	margin-top: -29px;
	margin-left: 327px;
	//width: 135px;
}

.errorPassDiv {
	margin-top: -30px;
 	margin-left: 412px;
  	
}

.oldErrorPass {
	//width: 188px;
}

.newErrorPass {
	//width: 154px;
}

.badFieldBorder {
	border: 1px solid #f74e19;
}