@font-face {
	font-family: "Room-Thin";
	src: url("/css/fonts/Room/Room-Thin.otf");
}

@font-face {
	font-family: "Lato-Thin";
	src: url("/css/fonts/Lato/Lato-Thin.ttf");
}

.accountInfo {
	width: 600px;
	margin: auto;
	margin-top: 118px;
	text-align: center;
}

.accountInfo__section {
	width: 100%;
	background-color: rgb(245, 247, 250);
	box-shadow: 0px 5px 7.6px 0.4px rgba(0, 0, 0, 0.05);
	margin-bottom: 25px;
	text-align: left;
}

.accountInfo__section_profile, .accountInfo__section_password, .accountInfo__section_theme {
	background-repeat: no-repeat;
	background-position: 20px 10px;
	background-color: #f67d58;
	width: 540px;
	height: 29px;
	padding-top: 11px;
	padding-left: 60px; 
	color: white;
	text-align: left;
	font-family: "Room";
	font-size: 18px;
	margin-bottom: 15px;
}

.accountInfo__section_profile {
	background-image: url("/img/gulp/profileBlock.png");
}

.accountInfo__section_password {
	background-image: url("/img/gulp/passwordBlock.png");
}

.accountInfo__section_theme {
	background-image: url("/img/gulp/themeBlock.png");
	margin-bottom: 0px;
}

.accountInfo__name {
	margin-bottom: 20px;
}

.section__label {
	margin-left: 45px;
  	font-family: "Roboto-Light";
  	color: black;
}

.section__label_name {
	margin-right: 35px;
}

.section__label_email {
	margin-right: 22px;
}

.section__label_currentPass {
	margin-right: 45px;
}

.section__label_newPass {
	margin-right: 61px;
}

.section__input {
	box-shadow: 0px 5px 7.6px 0.4px rgba(0, 0, 0, 0.05);
	border-radius: 2px;
	padding: 7px;
	border: 1px solid white;
  	font-family: "Roboto-Light";
}

.section__input_username {
	width: 200px;
}

.section__input_currentPass, .section__input_newPass {
	width: 185px;
}

.section__input_username:active, input:active {
	border: 1px solid white;
	outline: none;
}

.accountInfo__email {
	padding-bottom: 20px;
	font-family: "Lato-Thin";
	color: black;
}

.accountInfo__currentPass {
	margin-bottom: 20px;
}

.accountInfo__newPass {
	padding-bottom: 20px;
}

.accountInfo__themes {
	width: 570px;
	height: 110px;
  	padding: 10px 15px 10px 15px;
}

.themes__theme {
	float: left;
  	margin: 15px;
  	background-size: cover;
	background-position: center;
	width: 80px;
	height: 80px;
	border: 2px solid rgb(245, 247, 250);
}

.chosen {
	border: 2px solid #f67d58;
}

.themes__theme_1 {
	background-image: url("/img/gulp/lightDenIcon.png");
}

.themes__theme_2 {
	background-image: url("/img/gulp/darkDenIcon.png");
}

.accountInfo__button {
	border-radius: 2px;
	background-color: rgb(32, 64, 108);
	font-family: "Room-Thin";
	color: white;
	font-size: 17px;
	padding: 10px 30px 10px 30px;
	margin-bottom: 20px;
}

.section__passError, .section__nameError {
	background-image: url("/img/gulp/errorIcon.png");
	background-repeat: no-repeat;
  	background-position: 10px 5px;
	float: left;
	word-wrap: normal;
  	background-color: white;
  	padding-top: 7px;
  	padding-left: 20px;
  	padding-bottom: 5px;
    padding-right: 5px;
  	//padding-right: 7px;
  	display: inline-block;
  	//height: 20px;
  	/* text-align: right; */
  	font-size: 12px;
  	font-family: "Roboto-Light";
  	color: black;
}

.section__nameError {
	margin-top: -29px;
	margin-left: 327px;
	//width: 135px;
}

.section__passError {
	margin-top: -30px;
 	margin-left: 412px;
  	
}

.section__passError_old {
	//width: 188px;
}

.section__passError_new {
	//width: 154px;
}

.badFieldBorder {
	border: 1px solid #f74e19;
}
