@font-face {
	font-family: "Roboto-Light";
	src: url("/css/fonts/Roboto/Roboto-Light.ttf");
}

@font-face {
	font-family: "Roboto-Thin";
	src: url("/css/fonts/Roboto/Roboto-Thin.ttf");
}

@font-face {
	font-family: "AzoftSansRegular";
	src: url("/css/fonts/AzoftSans/AzoftSansRegular.ttf");
}

body {
	margin: 0px;
	padding: 0px;
	border: 0px;
	height: 100%;
}

.errorPage {
	background-color: #1e1e1e;
	background-image: url('/img/gulp/backgroundError.png');
	background-repeat: no-repeat;
	background-size: cover;
}

.errorPage__message {
	position: absolute;
  	top: 22%;
  	left: 14%;
}

.errorPage__message h1 {
	margin: 0;
	color: white;
	font-family: "AzoftSansRegular";
	font-size: 60px;
	margin-bottom: 20px;
}

.errorPage__message h2 {
  	font-family: "Roboto-Thin";
  	font-size: 30px;
  	color: white;
	margin-bottom: 20px;
}

.errorPage__message a {
	font-size: 24px;
	font-family: "Roboto-Thin";
	color: white;
	text-decoration: none;
	margin-bottom: 20px;
}

.errorPage__backToMain {
	background-image: inline('backIcon.png');
	background-repeat: no-repeat;
	background-position: center;
	margin: 11px 10px 0 0;
	height: 13px;
	width: 21px;
	float: left;
}

.errorPage__footer {
	position: absolute;
	bottom: 5%;
	left: 5%;
}

.errorPage__logoImg {
	background-image: url("/img/gulp/logo.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 60px;
	height: 73px;
	float: left;
	margin-right: 19px;
}

.errorPage__slogon {
	background-image: url("/img/gulp/label.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	float: left;
	width: 183px;
  	height: 24px;
  	margin-top: 23px;
}
