body {
	background-color: #d7dbe2;
}

.page {
  	background-color: #d7dbe2;
}

.page__header {
	background-color: #20406c;
}

.status {
	color: #000000;
}

.noteSection__note {
	background-color: #ffffff;
}

.noteSection__delBtn, .noteSection__shaBtn {
	background-color: #ffffff;
}

.noteSection__note button:hover {
	background-color: #ebedf0;
}

.textarea {
	color: #010101;
	background-color: #ffffff;
}

.welcome {
	color: #010101;
}

.noteSection__control {
	border-top: 1px solid #e1e1e1;
}

#emptyList {
	color: #010101;
}

#select {
	background-color: #20406c;
	color: #ededed;
}

button {
	background-color: #20406c;
	border: none;
	color: #ededed;
}

button:focus {
	outline: none;
}

.changePassMessageError {
	color: #f74e19;
	display: block;
}

.changePassMessageSuccess {
	color: #32c87a;
	display: block;
}

.grayBack {
    background-color : gray;
}
