@font-face {
	font-family: "Roboto-Light";
	src: url("/css/fonts/Roboto/Roboto-Light.ttf");
}

@font-face {
	font-family: "Roboto-Regular";
	src: url("/css/fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
	font-family: "Roboto-LightItalic";
	src: url("/css/fonts/Roboto/Roboto-LightItalic.ttf");
}

@font-face {
	font-family: "Roboto-Italic";
	src: url("/css/fonts/Roboto/Roboto-Italic.ttf");
}

.modal {
	width: 400px;
	background: #fefefe;
	position: fixed;
	top: 40%;
	left: 50%;
	margin-top: -205px;
	margin-left: -250px;
	display: none;
	opacity: 0;
  	z-index: 11;
}

.modal__overlay {
	z-index: 2;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: black;
	opacity: 0.8;
	display: none;
  	z-index: 10;
}

.modal__content {
	margin: auto;
	height: 100%;
	padding: 12px;
	background-color: #fefefe;
}

.modal__title {
	padding: 3px 9px 10px 9px;
	border-bottom: 1px solid #cecece;
	font-family: "Roboto-Regular";
	color: #3f3f3f;
	font-size: 21px;
}

.modal__info {
	padding: 13px 6px 13px 6px;
	width: 100%;
}

.modal__users {
	max-height: 213px;
	overflow-y: auto;
}

.modal__user {
	width: 100%;
	height: 62px;
	margin-bottom: 9px;
}

.user__img {
	background-size: cover;
	background-repeat: no-repeat;
	height: 62px;
  	width: 62px;
  	float: left;
  	margin-right: 15px;
  	border-radius: 50px;
}

.user__img img {
	border-radius: 50px;
    width: 100%;
}

.user__info {
	float: left;
}

.user__name {
	font-family: "Roboto-Regular";
	font-size: 14px;
	color: #3f3f3f;
	margin-top: 11px;
}

.user__name span {
	font-family: "Roboto-LightItalic";
	color: #383838;
}

.user__email {
	font-family: "Roboto-Light";
	font-size: 15px;
	background-color: #fefefe;
}

.user__img_addUser {
	background-image: url('/img/gulp/addShare.png');
}

.user__action {
	float: right;
	margin-right: 20px;
}

.user__input {
	margin-top: 17px;
	border: 0px;
	width: 240px;
	margin-right: 16px;
	font-size: 14px;
	font-family: "Roboto-Light";
	color: #383838;
	float: left;
	background-color: #fefefe;
}

.user__input:focus {
	outline: none;
	border-bottom: 1px solid #383838;
}

.user__button {
	background-color: #fefefe;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 50px;
  	background-position: center;
  	border: 0px;
  	margin-top: 20px;
}

.user__button_add {
	background-image: inline("addShareBtn.png");
	width: 20px;
  	height: 20px;
  	display: none;
}

.user__button_del {
	background-image: inline("deleteShare.png");
	width: 18px;
  	height: 18px;
  	margin-right: 1px;
}

.user__button:focus {
	outline: none;
}

.user__button_del:active {
	background-image: inline("deleteShareActive.png");
}

.modal__footer {
	border-top: 1px solid #cecece;
	height: 40px;
	width: 100%;
	background-color: #fefefe;
}

.footer__button {
	background-image: inline("ok.png");
	background-color: #fefefe;
	background-position: center;
	background-repeat: no-repeat;
	float: right;
	width: 80px;
	height: 40px;
	border: 0px;
}

.footer__button:hover {
	background-color: #e2e2e2;
}

.footer__button:focus {
	outline: none;
}

.footer__button:active {
	background-image: inline('okActive.png');
}

.messageSuccess {
	color: #32c87a;
	display: block !important;
}

.messageFail {
	color: #f74e19;
	display: block !important;
}

.shareMessage {
	font-family: "Roboto-LightItalic";
	font-size: 14px;
	color: #f74e19;  
	margin-right: 2px;
	display: none;
	width: 400px;
}
