
@font-face {
	font-family: "Room";
	src: url("/css/fonts/Room/Room.otf");
}

@font-face {
	font-family: "Roboto-Light";
	src: url("/css/fonts/Roboto/Roboto-Light.ttf");
}

@font-face {
	font-family: "Roboto-LightItalic";
	src: url("/css/fonts/Roboto/Roboto-LightItalic.ttf");
}

@font-face {
	font-family: "Roboto-Regular";
	src: url("/css/fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
	font-family: "Roboto-Thin";
	src: url("/css/fonts/Roboto/Roboto-Thin.ttf");
}

@font-face {
	font-family: "Roboto-ThinItalic";
	src: url("/css/fonts/Roboto/Roboto-ThinItalic.ttf");
}

body{
	font-family: "Roboto-Light";
	padding: 0px;
	margin: 0px;
	font-size: 16px;
	-moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.page {
	min-width: 415px;
  	width: 100%;
  	padding: 0px;
}

.page__header {
	width: 100%;
	margin: auto;
	height: 88px;
	position: fixed;
	z-index: 1;
	box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.15);
	top: 0;
	min-width: 415px;
}

.header__logo{
	float: left;
	margin-top: 12px;
}

.header__logoImg {
	float: left;
	background-image: url("/img/gulp/logo.png");
	width: 53px;
	height: 64px;
	display: inline-block;
	margin-left: 15px;
	background-size: cover;
}

.header__slogon {
	background-image: url("/img/gulp/label.png");
	width: 159px;
	height: 21px;
	display: inline-block;
	margin-left: 16px;
  	margin-top: 20px;
	vertical-align: top;
	background-size: cover;
}

.header__in-outMenu{
	float: right;
	text-align: justify;
	margin-right: 25px;
	display: inline-flex;
	margin-top: 15px;
}

.rgihtMenu {
	float: left;
}

.header__userImg{
	float: left;
	width: 50px;
	height: 50px;
	margin-left: 16px;
	background-size: cover;
	border: 1px solid white;
  	border-radius: 50px;
}

.header__logMenu{
	text-align: right;
	margin-left: 10px;
	margin-top: 9px;
}

.header__user {
	margin-top: -3px;
	margin-bottom: -3px;
}

.header__username {
	color: white;
	font-family: "Roboto-Light";
	font-size: 19px;
}

.header__logout {
	font-family: "Roboto-Thin";
	font-size: 15px;
	color: white;
}

.page__addNote {
	position: fixed;
	top: 67px;
  	right: 160px;
	border-radius: 50px;
	width: 50px;
	height: 50px;
	text-align: center;
	z-index: 4;
}

.page__addNote img {
	cursor: pointer;
	box-shadow: 0px 5px 12.45px 2.55px rgba(0, 0, 0, 0.2);
	border-radius: 50px;
	width: 40px;
}

.page__addNote img:hover {
	width: 45px;
	margin-top: -3px;
	box-shadow: 0px 5px 16.02px 1.98px;
}

.page__addNote img:active {
	background: url("/img/gulp/addBtn-click.png");
	box-shadow: 0px 10px 12.45px 2.55px rgba(0, 0, 0, 0.15);
}

.page__status {
	position: fixed;
	right: 0;
	top: 88px;
	background-color: white;
	height: 35px;
	width: 440px;
 	clip-path: polygon(0 -50px, 100% 0, 100% 100%, 9% 100%);
 	z-index: 3;
}

.sortMenu {
	float: right;
	margin-top: 10px;
  	height: 33px;
  	margin-right: 2px;
}

.status__mainStatus {
	cursor: default;
	font-family: "Roboto-LightItalic";
	font-size: 12px;
}

.status__container {
	margin-left: 60px;
	width: 134px;
	text-align: right;
	margin-top: 7px;
	float: left;
}

.status__minStatus {
	display: none;
}

.noteManager{
	margin-left: 20px;
	float: left;
}

#normalize{
	margin-top: 0px;
}

.sortLabel {
	float: right;
	font-size: 12px;
	font-family: "Roboto-Regular";
}

.sortByDate, .sortByUser {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 16px;
	height: 16px;
	float: right;
	margin-top: -1px;
	cursor: pointer;
}

.sortLabel, .sortByDate {
	margin-right: 20px;
}

.noteSpace {
	width: 100%;
  	display: inherit;
  	margin-top: 143px;
  	float: left;
}

.noteSection__note{
	background-color: white;
	cursor: -webkit-grab;
	vertical-align: top;
	width: 350px;
	height: 200px;
	margin: 0 18px 32px 18px;
	display: inline-block;
	box-shadow: 0px 3px 9.1px 0.9px rgba(0, 0, 0, 0.15);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.note:hover {
	box-shadow: 0px 5px 14.94px 3.06px rgba(0, 0, 0, 0.15);
}

.noteSection__delBtn, .noteSection__shaBtn {
	float: right;
	width: 80px;
  	height: 0px;
	border: 0px;
	background-repeat: no-repeat;
	background-position: center;
	padding: 0px;
}

.noteSection__delBtn:focus, .noteSection__shaBtn:focus {
	outline: none;
}

.noteSection__delBtn {

	background-image: inline("delBtn.png");
}

.noteSection__delBtn:active {
	background-image: inline("delBtn-click.png");
}

.noteSection__shaBtn {
	background-image: inline("shareBtn.png");
}

.noteSection__shaBtn:active {
	background-image: inline("shareBtn-click.png");
}

.btnHeightZero {
	height: 0px;
}

.noteSection__content {
	text-align: left;
	height: 143px;
	width: 322px;
	padding: 8px 14px 8px 14px;
	font-family: "Roboto-Light";
	font-size: 15px;
	display: block;
	white-space:pre;
	word-wrap: break-word;
	word-break: normal;
	overflow-y: auto;
	color: #010101;
}

.textarea {
	font-family: "Roboto-Light";
	font-size: 15px;
	resize: none;
	width: 322px;
	height: 143px;
	padding: 8px 14px 8px 14px;
	display: block;
	white-space:pre;
	word-wrap: break-word;
    word-break: normal;
    overflow-x:none;
}

.textarea:active,
.textarea:focus,
.textarea {
	padding: 8px 14px 8px 14px;
	border: none;
	outline: none;
}

.welcome {
	text-align: center;
	margin: auto;
	margin-top: 140px;
	font-family: "Roboto-bold";
	width: 80%;
}

.emptyMain {
	text-align: center;
	margin-top: 50px;
}

.noteSection__control {
	height: 0px;
	margin-top: 40px;
	visibility: hidden;
	cursor: -webkit-grab;
	display: block;
}

.shareUsers {
  width: 250px;
  height: 400px;
  overflow: hidden;
  position: fixed;
  right: 10px;
  /* border: #FF0 dashed 1px; */
  /* border-radius: 5px; */
  outline: 1px dashed rgb(255, 255, 255);
  outline-offset: 5px;
  outline-style: dotted;
  /* Box-shadow: 0px 0px 0px 2px #f00; */
}

.noteSpace__noteSection {

}

.sectionInfo__picture {
   	height: 28px;
  	margin-top: -4px;
  	border-radius: 50px;
  	float: left;
}

.sectionInfo__owner {
	float: left;
	margin-top: 2px;
  	margin-left: 10px;
  	font-family: "Roboto-Regular";
  	font-size: 12px;
}

.sectionInfo__owner span {
	font-family: "Roboto-Light";
}

.noteSpace__sectionInfo {
	position: relative;
	color: black;
	width: 100%;
	height: 35px;
	margin-bottom: 20px;
	padding-left: 25px;
  	padding-top: 8px;
	box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.05);
	background-color: rgba(176, 184, 193, 0.8);
	-moz-box-sizing: border-box; /* Для Firefox */
    -webkit-box-sizing: border-box; /* Для Safari и Chrome */
    box-sizing: border-box;
}

.noteSpace__sectionInfo_actual {
	position: fixed;
	top: 88px;
	left: 0px;
}


/*ЭТО ДОЛЖНО БЫТЬ В САМОМ КОНЦЕ!!!*/
@media screen and (max-width: 780px) {

	.page__header {
	  	height: 60px;
	}

	.header__logoImg {
		margin-top: -4px;
		width: 32px;
    	height: 39px;
	}

	.header__slogon {
		margin-top: 6px;
		width: 130px;
    	height: 17px;
	}

	.header__in-outMenu {
		margin-top: 21px;
		margin-right: 14px;
	}

	.header__userImg{
		margin-top: -8px;
		width: 32px;
		height: 32px;
	}

	.header__logMenu{
		margin-top: -14px;
		margin-right: -6px;
	}

	.header__user {
		margin-top: 6px;
  		margin-bottom: -4px;
	}

	.header__username {
		font-size: 15px;
	}

	.header__logout {
		font-size: 11px;
	}

	.page__addNote {
		top: 40px;
	}

	.noteSpace__sectionInfo_actual, .page__status{
		top: 60px;
	}

	.page__status {
		width: 280px;
	}

	.status__mainStatus {
		display: none;
	}

	.status__container {
		width: 30px;
		margin-left: 29px;
		margin-top: 4px;
	}

	.status__minStatus {
		display: inherit;
		background-image: inline('ok.png');
		background-repeat: no-repeat;
		background-size: cover;
		width: 17px;
  		height: 13px;
  		margin-top: 10px;
  		font-size: 16px;
  		cursor: default;
  		color: white;
	}

	.minStatusTyping {
		background-image: none;
		color: black;
	}

	.welcome {
		margin-top: 80px;
	}

	.noteSpace {
		margin-top: 110px;
		text-align: center;
	}
}
