@font-face {
	font-family: "Roboto-Light";
	src: url("/css/fonts/Roboto/Roboto-Light.ttf");
}

@font-face {
	font-family: "Room";
	src: url("/css/fonts/Room/Room.otf");
}

@font-face {
	font-family: "Room-Thin";
	src: url("/css/fonts/Room/Room-Thin.otf");
}

@font-face {
	font-family: "Lato-Regular";
	src: url("/css/fonts/Lato/Lato-Regular.ttf");
}

@font-face {
	font-family: "Lato-Light";
	src: url("/css/fonts/Lato/Lato-Light.ttf");
}


body {
	margin: 0px;
	border: 0px;
	padding: 0px;
	background-image: url("/img/welcomeBackground.png");
	background-size: cover;
	background-position: center;
	min-width: 540px;
}

.landing {
	position: absolute;
	top: 45px;
	left: 12%;
}

.landing__images {
	width: 100%;
  	height: 121px;
}

.landing__logo {
	background-image: url("/img/logo.png");
	background-size: cover;
	background-position: center;
	width: 58px;
  	height: 71px;
	float: left;
}

.landing__slogon {
	background-image: url("/img/dark-label.png");
	background-size: cover;
	background-position: center;
	width: 143px;
  	height: 19px;
	float: left;
	margin-top: 27px;
  	margin-left: 10px;
}

.landing__title {
	font-size: 24px;
  	font-family: "Lato-Regular";
  	color: rgb(0, 0, 0);
  	margin-bottom: 32px;
}

.landing__body {
	font-size: 14px;
  	font-family: "Lato-Light";
  	color: rgb(0, 0, 0);
} 

.welcomeForm__formTitle {
	margin: auto;
	color: black;
	font-family: "Room";
	opacity: 1;
	font-size: 18px;
	margin-bottom: 10px;
}

.welcomeForm {}

.welcomeForm__form {
	width: 310px;
    box-sizing: border-box;
    padding: 15px 15px 8px 15px;
    text-align: center;
}

.welcomeForm__form_login {
	position: absolute;
	top: 50px;
    left: 59%;
}

.welcomeForm__form_registration {
	position: absolute;
	top: 245px;
	left: 59%;
	margin-top: 20px;
}

.welcomeForm__overlay {
	border-radius: 4px;
	background-color: rgba(176, 184, 193, 0.8);
  	opacity: 0.302;
}

.welcomeForm__overlay_login {
	width: 310px;
  	height: 200px;
  	position: absolute;
  	top: 45px;
    left: 59%;
}

.welcomeForm__overlay_registration {
	width: 310px;
  	height: 211px;
  	position: absolute;
  	top: 266px;
    left: 59%;	
}

.welcomeForm__textbox {
	font-size: 12px;
  	font-family: "Roboto-Light";
  	color: black;
  	width: 260px;
  	height: 30px;
  	border-radius: 2px;
  	box-shadow: 0px 5px 7.6px 0.4px rgba(0, 0, 0, 0.05);
  	background-color: rgb(255, 255, 255);
  	padding: 0 10px 0 10px;
  	border: 1px solid white;
  	margin-bottom: 10px;
}

.welcomeForm__textbox:hover {
	box-shadow: 0px 5px 7.6px 0.4px rgba(0, 0, 0, 0.1);
} 

.welcomeForm__textbox:active {
	box-shadow: 0px 5px 7.6px 0.4px rgba(0, 0, 0, 0.1);
}

.welcomeForm__button {
	border-radius: 2px;
	background-color: rgb(32, 64, 108);
	width: 280px;
  	height: 32px;
  	border: 0px;
  	font-size: 18px;
  	font-family: "Room-Thin";
  	color: rgb(255, 255, 255);
}

.welcomeForm__error {
	background-image: url("/img/errorIcon.png");
	background-repeat: no-repeat;
	background-position-y: 5px;
  	background-position-x: 10px;
	float: left;
	margin-top: -40px;
  	margin-left: 282px;
  	width: 187px;
  	background-color: white;
  	height: 21px;
  	padding-top: 7px;;
  	padding-right: 6px;
  	text-align: right;
  	font-size: 12px;
  	font-family: "Roboto-Light"
}

.welcomeForm__error_email {
	width: 140px;
}

.welcomeForm__error_name {
	width: 131px;
}

.welcomeForm__error_password {
	width: 152px;
}

.welcomeForm__href {
	font-family: "Roboto-Light";
	font-size: 12px;
	color: black;
	float: right;
	margin-top: 10px;
	
}

.badFieldBorder {
	border: 1px solid #f74e19;
}

@media screen and (max-width: 1200px) {

	.welcomeForm__textbox {
		width: 180px;
	}

	.welcomeForm__button {
		width: 200px;
	}

	.welcomeForm__form {
		width: 230px;
	}

	.welcomeForm__overlay {
		left: 59%;
		width: 230px;	
	}

	.welcomeForm__error {
		margin-left: 202px;
	}
}

@media screen and (max-width: 890px) {

	.landing__title {
		font-size: 16px;
	}

	.landing__body {
		font-size: 11px;
	}
}

@media screen and (max-width: 600px) {

	.landing__logo {
		width: 30px;
  		height: 37px;
	}

	.landing__slogon {
		margin-top: 10px;
	}

	.landing__title, .landing__body {
		display: none;
	}

	.landing {
		position: inherit;
  		height: 40px;
  		margin: auto;
  		text-align: center;
  		display: flex;
  		margin-top: 15px;
	}

	.landing__images {
		width: 183px;
		height: 40px;
  		margin: auto;
	}

	.welcomeForm__form {
		position: relative;
		margin: auto;
		margin-top: 10px;
		top: 0;
    	left: 0;
	}

	.welcomeForm__overlay_login, .welcomeForm__overlay_registration {
		position: relative;
		margin: auto;
		top: 0;
		left: 0;
	}

	.welcomeForm__overlay_login {
		margin-top: 10px;
		margin-bottom: -210px;
	}

	.welcomeForm__overlay_registration {
		margin-top: 65px;
    	margin-bottom: -223px;
	}

	.welcomeForm__error {
		background-position-y: 3px;
	  	margin-left: 200px;
	  	margin-top: -39px;
 		width: 175px;
  		height: 19px;
	  	font-size: 11px;
	}
}
