@font-face {
	font-family: "Roboto-Light";
	src: url("/css/fonts/Roboto/Roboto-Light.ttf");
}

@font-face {
	font-family: "Room";
	src: url("/css/fonts/Room/Room.otf");
}

@font-face {
	font-family: "Room-Thin";
	src: url("/css/fonts/Room/Room-Thin.otf");
}

@font-face {
	font-family: "Lato-Regular";
	src: url("/css/fonts/Lato/Lato-Regular.ttf");
}

@font-face {
	font-family: "Lato-Light";
	src: url("/css/fonts/Lato/Lato-Light.ttf");
}

body {
	margin: 0px;
	border: 0px;
	padding: 0px;
	box-sizing: border-box;
}

.body {
	background-image: url("/img/gulp/welcomeBackground.png");
	background-size: cover;
	background-position: center;
}


.container {
	position: absolute;
	top: 45px;
	left: 50%;
	margin-left: -480px;
	min-width: 540px;
	max-width: 976px;
	width: 71%;
}

.container__landing {
	float: left;
}

.landing__images {
	width: 100%;
  	height: 121px;
}

.landing__logo {
	background-image: url("/img/gulp/logo.png");
	background-size: cover;
	background-position: center;
	width: 58px;
  	height: 71px;
	float: left;
}

.landing__slogon {
	background-image: url("/img/gulp/dark-label.png");
	background-size: cover;
	background-position: center;
	width: 143px;
  	height: 19px;
	float: left;
	margin-top: 27px;
  	margin-left: 10px;
}

.landing__title {
	font-size: 24px;
  	font-family: "Lato-Regular";
  	color: rgb(0, 0, 0);
  	margin-bottom: 32px;
}

.landing__body {
	font-size: 14px;
  	font-family: "Lato-Light";
  	color: rgb(0, 0, 0);
} 

.welcomeForm__formTitle {
	margin: auto;
	color: black;
	font-family: "Room";
	opacity: 1;
	font-size: 18px;
	margin-bottom: 10px;
}

.container__welcomeForm {
	float: right;
}

.welcomeForm__form {
	width: 310px;
    box-sizing: border-box;
    padding: 15px;
    margin-top: 15px;
    text-align: center;
    background-image: inline("overlay.png");
}

.welcomeForm__form_forgot {
	margin-top: 80px;
}

.welcomeForm__textbox {
	font-size: 12px;
  	font-family: "Roboto-Light";
  	color: black;
  	width: 260px;
  	height: 30px;
  	border-radius: 2px;
  	box-shadow: 0px 5px 7.6px 0.4px rgba(0, 0, 0, 0.05);
  	background-color: rgb(255, 255, 255);
  	padding: 0 10px 0 10px;
  	border: 1px solid white;
  	margin-bottom: 10px;
}

.welcomeForm__textbox:hover {
	box-shadow: 0px 5px 7.6px 0.4px rgba(0, 0, 0, 0.1);
} 

.welcomeForm__textbox:active {
	box-shadow: 0px 5px 7.6px 0.4px rgba(0, 0, 0, 0.1);
}

.welcomeForm__button {
	border-radius: 2px;
	background-color: rgb(32, 64, 108);
	width: 280px;
  	height: 32px;
  	border: 0px;
  	font-size: 18px;
  	font-family: "Room-Thin";
  	color: rgb(255, 255, 255);
}

.welcomeForm__mailMsg {
	text-align: left;
  	float: left;
  	font-family: "Roboto-Light";
  	font-size: 12px;
}

.welcomeForm__email {
	font-family: "Roboto-Regular";
	font-size: 12px;
	float: left;
	color: #f67d58;
}

.welcomeForm__href_check {
	margin-top: 30px;
    font-family: "Roboto-Thin";
  	font-size: 13px;
    text-align: left;
}

.welcomeForm__href_check a {
	color: black;
}

.welcomeForm__error {
	background-image: inline("errorIcon.png");
	background-repeat: no-repeat;
	background-position-y: 5px;
  	background-position-x: 10px;
	float: left;
	margin-top: -40px;
  	margin-left: 282px;
  	width: 187px;
  	background-color: white;
  	height: 21px;
  	padding-top: 7px;;
  	padding-right: 6px;
  	text-align: right;
  	font-size: 12px;
  	font-family: "Roboto-Light"
}

.welcomeForm__error_email {
	width: 141px;
}
.welcomeForm__email_in_use {
	width: 155px;
}

.welcomeForm__error_name {
	width: 131px;
}

.welcomeForm__error_password {
	width: 152px;
}

.loginError {
	width: 115px;
}
.welcomeForm__href {
	font-family: "Roboto-Light";
	font-size: 12px;
	text-align: right;
	margin-top: 10px;
	
}

.welcomeForm__href_color {
	color: black;
}

.badFieldBorder {
	border: 1px solid #f74e19;
}

@media screen and (max-width: 1918px) {
	.container {
		max-width: 980px;
	}	
}

@media screen and (max-width: 1200px) {

	.container {
		max-width: 820px;
		margin-left: -410px;
	}

	.welcomeForm__formTitle_forgot {
		font-size: 17px;
	}

	.welcomeForm__textbox {
		width: 180px;
	}

	.welcomeForm__button {
		width: 200px;
	}

	.welcomeForm__form {
		width: 230px;
	}

	.welcomeForm__overlay {
		left: 59%;
		width: 230px;	
	}

	.welcomeForm__error {
		margin-left: 202px;
	}
}

@media screen and (max-width: 890px) {

	.landing__title {
		font-size: 16px;
	}

	.landing__body {
		font-size: 11px;
	}
}

@media screen and (max-width: 630px) {

	.container {
		position: relative;
		top: 0;
    	left: 0;
    	min-width: 250px;
    	width: 240px;
    	margin: auto;
    	margin-top: 5%;
	}

	.container__landing {
		position: relative;
    	margin: auto;
    	float: none;
	}

	.landing__logo {
		width: 30px;
  		height: 37px;
	}

	.landing__slogon {
		margin-top: 10px;
	}

	.landing__title, .landing__body {
		display: none;
	}

	.landing {
		position: inherit;
  		height: 40px;
  		margin: auto;
  		text-align: center;
  		display: flex;
  		margin-top: 15px;
	}

	.landing__images {
		width: 183px;
		height: 40px;
  		margin: auto;
	}

	.welcomeForm__form {
		position: relative;
		margin: auto;
		margin-top: 15px;
		top: 0;
    	left: 0;
	}

	.welcomeForm__error {
		background-position-y: 3px;
	  	margin-left: 200px;
	  	margin-top: -39px;
 		width: 175px;
  		height: 19px;
	  	font-size: 11px;
	}
}
