@font-face {
	font-family: "Roboto-Light";
	src: url("/css/fonts/Roboto/Roboto-Light.ttf");
}


@font-face {
	font-family: "Roboto-Thin";
	src: url("/css/fonts/Roboto/Roboto-Thin.ttf");
}


@font-face {
	font-family: "Roboto-Regular";
	src: url("/css/fonts/Roboto/Roboto-Regular.ttf");
}

.overlayCheckMail {
	border-radius: 4px;
	background-color: rgba(176, 184, 193, 0.8);
  	opacity: 0.302;
  	width: 310px;
  	height: 175px;
 	margin-bottom: -175px;
}

.logRegDiv {
	top: 30%;
	width: 310px;
}

.checkYourMail {
	text-align: center;
	padding: 15px 35px 8px 35px;
	position: relative;
	width: 240px;
}

.infoCheckMail {
	text-align: left;
  	float: left;
  	font-family: "Roboto-Light";
  	font-size: 12px;
}

.backToMain {
	background-image: url("/img/backIcon.png");
	background-repeat: no-repeat;
	background-position-y: 4px;
	margin-left: -26px;
 	padding-left: 26px;
	float: left;
  	margin-top: 20px;
 	color: #000000;
  	text-decoration: underline;
  	font-family: "Roboto-Thin";
  	font-size: 13px;
}

.mailForCheck {
	font-family: "Roboto-Regular";
	font-size: 12px;
	float: left;
	color: #f67d58;
}

.resPassHead {
	font-size: 17px;
}
