body {
	background-color: #414141;
}

.container {
  	background-color: #414141;
}

.headWrapper {
	background-color: #313131;
}

.status {
	color: #a1a1a1;
}

.workDiv {
	color: #f5f5f5;
}

.cell {
	background-color: #f5f5f5;
}

.delBtn, .shaBtn {
	background-color: #f5f5f5;
}

.cell button:hover {
	background-color: #e2e2e2;
}

.textarea {
	color: #010101;
	background-color: #f5f5f5;
}

.welcome {
	color: #FFFFFF;
}

.control {
	border-top: 1px solid #dcdcdc;
}

#emptyList {
	color: white;
}

#select {
	background-color: #313131;
	color: #f5f5f5;
}

button {
	background-color: #313131;
	border: none;
}

button:focus {
	outline: none;
}

.changePassMessageError {
	color: #f74e19;
	display: block;
}

.changePassMessageSuccess {
	color: #32c87a;
	display: block;
}