@font-face {
	font-family: "Room";
	src: url("/css/fonts/Room/Room.otf");

	font-family: "Roboto-Light";
	src: url("/css/fonts/Roboto/Roboto-Light.ttf");

	font-family: "Roboto-LightItalic";
	src: url("/css/fonts/Roboto/Roboto-LightItalic.ttf");

	font-family: "Roboto-Regular";
	src: url("/css/fonts/Roboto/Roboto-Regular.ttf");

	font-family: "Roboto-Thin";
	src: url("/css/fonts/Roboto/Roboto-Thin.ttf");

	font-family: "Roboto-ThinItalic";
	src: url("/css/fonts/Roboto/Roboto-ThinItalic.ttf");
}

.mainDiv{
	width: 400px;
	display: inline-block;
  	text-align: center;
  	vertical-align: middle;
  	background-color: #414141;
}

.btnProperty{
	width: 51%;
    margin-right: -5px;
}

.rightBtn{
	margin-left: -2px;
}

.btnPos{
	width: 100%;
	margin: auto;
}

#signWith{
	float: left;
}

.nextBlock{
	margin-bottom: 20px;
	display: inline-block;
  	text-align: center;
  	width: 100%
}

#endForm{
	margin-bottom: 0px !important;
}

form.formStyle{
	display: inline-block;
  	text-align: center;
  	width: 100%;
  	background-color: #414141;
}

.inputDiv{
	margin: auto;
	width: 80%;
}

.textboxProperty{
	float: right;
	padding-left: 3px;
	margin-bottom: 20px;
	border: 1px solid black;
}

.forgot {
	font-family: "Roboto-Thin";
	font-size: 12px;
	color: white;
	float: left;
	clear: both;
	margin-bottom: -22px;
}

.forgotDiv{
	margin-top: 100px;
}

.submitBtn {
	width: 100%;
	padding: 13px 0 13px 0;
	border: 0px;
	background-color: #383838;
	color: #e6e6e6 !important;
	font-size: 17px;
  	font-family: "Room";
  	border-radius: 2px;
}

.submitBtn:focus {
	outline: none;
	background-color: #383838;
}

.submitBtn:active {
	background-color: #636363 !important;
	box-shadow: none !important;
}

.submiteBtn:hover {
	box-shadow: 0 5px 5px #353535;
	background-color: #383838 !important; 
}

.regDiv {
	float: left;
	width: 100%;
}

.textboxRegProperty{
	font-family: "Roboto-Light";
	font-size: 12px;
	color: #525252;
	float: right;
	width: 100%;
	margin-bottom: 10px;
	border-radius: 2px;
	border: 0px;
}

.middlePlace{
	 width: 100%;
	  display: inline-block;
	  text-align: center;
}

#hintFormat{
	display: inline-block;
  	text-align: justify;
}

.workDiv{
	widows: 100%;
}

div.regDiv input:hover, .submitBtn:hover {
	box-shadow: 0 5px 5px #353535;
}

.modal-body {
	padding: 0px;
}

.modal-dialog {
	width: 400px;
}

.nav-tabs {
	border: 0px !important;
	margin-bottom: 32px;
}

.nav-tabs li {
	width: 50%;
	margin: 0px;
	background-color: #383838;
	color: white;
	margin-bottom: -2px;
}

.nav-tabs > li > a {
	margin: 0px;
	border: 0px !important;
	border-radius: 0px;
	border-bottom: 0px;
	padding: 13px 0 13px 0;
	font-size: 17px;
  	font-family: "Room";
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
	border: 0px;
	color: white;
}

a {
	color: #bdbdbd;
}

a:focus {
	outline: none;
	text-decoration: none;
}

li.active {
	border-bottom: 2px solid orange;
}

.nav-tabs:hover {
	background-color: #414141;
}

input[type='textbox'], input[type='password'] {
	padding: 13px 13px;
	font-size: 12px;
  	font-family: "Roboto-Black";
  	color: #7c7c7c;
  	margin-bottom: 22px;
}

.btn-default:hover {
	background-color: #383838;
}

.btn-default:active {
	background-color: #636363 !important;
}

.js-reg:hover, .js-enter:hover,
.js-reg:focus, .js-enter:focus {
	text-decoration: none;
}

.errorText {
    color: red;
    text-align: left;
}

.regDiv p {
	font-family: "Roboto-Light";
	font-size: 12px;
}
