@font-face {
	font-family: "Room";
	src: url("/css/fonts/Room/Room.otf");
}

@font-face {
	font-family: "Roboto-Light";
	src: url("/css/fonts/Roboto/Roboto-Light.ttf");
}

@font-face {
	font-family: "Roboto-LightItalic";
	src: url("/css/fonts/Roboto/Roboto-LightItalic.ttf");
}

@font-face {
	font-family: "Roboto-Regular";
	src: url("/css/fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
	font-family: "Roboto-Thin";
	src: url("/css/fonts/Roboto/Roboto-Thin.ttf");
}

@font-face {
	font-family: "Roboto-ThinItalic";
	src: url("/css/fonts/Roboto/Roboto-ThinItalic.ttf");
}

body{
	font-family: "Roboto-Light";
	padding: 0px;
	margin: 0px;
	font-size: 16px;
	-moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.container{
	min-width: 460px;
  	width: 100%;
  	padding: 0px;
}

.headWrapper{
	width: 100%;
	margin: auto;
	height: 88px;
	position: fixed;
	z-index: 1;
	box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.15);
	top: 0;
}

.logoDiv{
	float: left;
	margin-top: 15px;
}

.logoImg {
	float: left;
	background-image: url("img/logo.png");
	width: 53px;
	height: 65px;
	display: inline-block;
	margin-left: 15px;
	background-size: cover;
}

.slogon {
	background-image: url("img/label.png");
	width: 159px;
	height: 21px;
	display: inline-block;
	margin-left: 16px;
  	margin-top: 20px;
	vertical-align: top;
	background-size: cover;
}

.in-outMenu{
	float: right;
	text-align: justify;
	margin-right: 25px;
	display: inline-flex;
	margin-top: 15px;
}

.rgihtMenu {
	float: left;
}

.userImg{
	float: left;
	width: 50px;
	height: 50px;
	margin-left: 16px;
	/*background-image: url('/img/user.png');*/
	background-size: cover;
}

.logMenu{
	text-align: right;
	margin-left: 10px;
	margin-top: 2px;
}

.user {
	margin-top: -3px;
	margin-bottom: -3px;
}

#username {
	color: white;
	font-family: "Roboto-Light";
	font-size: 19px;
}

#logout {
	font-family: "Roboto-Thin";
	font-size: 15px;
	color: white;
}

.addNote {	
	float: right;
	border-radius: 50px;
	margin-top: -21px;
	width: 50px;
	height: 50px;
	text-align: center;	
}

.addNote img {
	cursor: pointer;
	box-shadow: 0px 5px 12.45px 2.55px rgba(0, 0, 0, 0.2);
	border-radius: 50px;
	width: 40px;
}

.addNote img:hover {
	width: 45px;
	margin-top: -3px;
	box-shadow: 0px 5px 16.02px 1.98px;
}

.addNote img:active {
	background: url("img/addBtn-click.png");
	box-shadow: 0px 10px 12.45px 2.55px rgba(0, 0, 0, 0.15); 
}

.addNoteDiv {
	position: fixed;
  	float: right;
  	top: 88px;
  	right: 230px;
  	z-index: 4;
}

.infoDiv {
	position: fixed;
	right: 0;
	top: 88px;
	background-color: white;
	height: 35px;
	width: 500px;
	-webkit-clip-path: polygon(0 -50px, 100% 0, 100% 100%, 9% 100%);
 	clip-path: polygon(0 -50px, 100% 0, 100% 100%, 9% 100%);
 	z-index: 3;
}

.sortMenu {
	float: right;
	margin-top: 12px;
  	height: 33px;
  	margin-right: 20px;
}

.status {
	cursor: default;
	font-family: "Roboto-LightItalic";
	font-size: 12px;
}

.statusDiv {
	margin-left: 60px;
	width: 122px;
	text-align: right;
	margin-top: 8px;
	float: left;
}

.minStatus {
	display: none;
}

a:hover {
	color: white;
}

.noteManager{
	margin-left: 20px;
	float: left;
}

#normalize{
	margin-top: 0px;
}

.sortLabel {
	float: right;
	font-size: 12px;
}

.sortByDate, .sortByUser {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 16px;
	height: 16px;
	float: right;
	margin-top: -1px;
}

.sortLabel, .sortByDate {
	margin-right: 20px;
}

.sortByUser {
	margin-right: 30px;
}

.sortByUser {
	background-image: url("img/sortedByUser.png");
}

.sortByDate {
	background-image: url("img/sortedByDate.png");
	
}

.workDiv{
	width: 100%;
  	display: inherit;
  	margin-top: 143px;
}

.noteDiv {
	float: left;
	width: 100%;
	display: inline-block;
}

.cell{
	cursor: -webkit-grab;
	vertical-align: top;
	width: 350px;
	height: 200px;
	margin: 0 18px 32px 18px; 
	display: inline-block;
	box-shadow: 0px 3px 9.1px 0.9px rgba(0, 0, 0, 0.15);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.cell:hover {
	box-shadow: 0px 5px 14.94px 3.06px rgba(0, 0, 0, 0.15);
}

.delBtn, .shaBtn {
	float: left;
	width: 80px;
  	height: 0px;
	border: 0px;
	background-repeat: no-repeat;
	background-position: center;
	padding: 0px;
}

.delBtn:focus, .shaBtn:focus {
	outline: none;
}

.delBtn {
	background-image: url("img/delBtn.png");
	float: right;
}

.delBtn:active {
	background-image: url("img/delBtn-click.png");
}

.shaBtn {
	background-image: url("img/shareBtn.png");
}

.shaBtn:active { 
	background-image: url("img/shareBtn-click.png");
}

.btnHeightZero {
	height: 0px;
}

.content {
	text-align: left;
	height: 143px;
	width: 322px;
	padding: 8px 14px 8px 14px;
	font-family: "Roboto-Light";
	font-size: 15px;
	display: block;
	word-wrap: break-word;
	word-break: normal;
	overflow-y: auto;
	color: #010101; 
}

.textarea {
	font-family: "Roboto-Light";
	font-size: 15px;
	resize: none;
	width: 322px;
	height: 143px;
	padding: 8px 14px 8px 14px;
	display: block;
}

.textarea:active,
.textarea:focus, 
.textarea {
	padding: 8px 14px 8px 14px;
	border: none;
	outline: none;
}

.welcome {
	text-align: center;
	margin: auto;
	margin-top: 140px;
	font-family: "Roboto-bold";
	width: 80%;
}

.emptyMain {
	text-align: center;
	margin-top: 50px;
}

.control {
	height: 0px;
	margin-top: 40px;
	visibility: hidden;
	cursor: -webkit-grab;
	display: block;
}

.shareUsers {
  width: 250px;
  height: 400px;
  overflow: hidden;
  position: fixed;
  right: 10px;
  /* border: #FF0 dashed 1px; */
  /* border-radius: 5px; */
  outline: 1px dashed rgb(255, 255, 255);
  outline-offset: 5px;
  outline-style: dotted;
  /* Box-shadow: 0px 0px 0px 2px #f00; */
}

/*input[type="checkbox"] {
  display:none;
}*/
/*input[type="checkbox"] + label {
  display:inline-block;
  margin:-1px 4px 0 0;
  vertical-align:middle;
  background:url(/img/c_unchecked.png) left top no-repeat;
  cursor:pointer;
}
input[type="checkbox"]:checked + label {
  background:url(/img/c_checked.png) left top no-repeat;
}*/

.noteSection {

}

p.textSection {
  color: #F74E19;
}

.textNoteSection {
	position: relative;
	width: 100%;
	height: 35px;
	margin-bottom: 20px;
	padding-left: 25px;
  	padding-top: 8px;
	box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.05);
	background-color: rgba(176, 184, 193, 0.8);
	-moz-box-sizing: border-box; /* Для Firefox */
    -webkit-box-sizing: border-box; /* Для Safari и Chrome */
    box-sizing: border-box;
}

.actualSection {
	position: fixed;
	top: 88px;
	left: 0px;
}


/*ЭТО ДОЛЖНО БЫТЬ В САМОМ КОНЦЕ!!!*/
@media screen and (max-width: 800px) {
	
	.headWrapper {
	  	height: 60px;
	}

	.logoImg {
		display: none;
	}

	.slogon {
		margin-top: 4px;
	}

	.userImg{
		display: none;
	}

	.logMenu{
		margin-top: -14px;
		margin-right: -6px;
	}

	.user {
		margin-top: 6px;
  		margin-bottom: -4px;
	}

	#username {
		font-size: 15px;
	}

	#logout {
		font-size: 11px;
	}

	.addNoteDiv {
		margin-top: 38px;
	  	margin-left: 65%;
	}

	.minStatus {
		display: inherit;
		float: right;
		background-image: url('img/ok.png');
		background-repeat: no-repeat;
		background-size: cover;
		width: 17px;
  		height: 13px;
  		margin-top: 7px;
  		font-size: 16px;
  		cursor: default;
  		color: white;
	}

	.minStatusTyping {
		background-image: none;
	}

	.status {
		display: none;
	}

	.statusDiv {
		width: 30px;
	}

	.welcome {
		margin-top: 80px;
	}

	.workDiv {
		margin-top: 110px;
	}
}