@font-face {
	font-family: "Roboto-Light";
	src: url("css/fonts/Roboto/Roboto-Light.ttf");
}

@font-face {
	font-family: "Room";
	src: url("css/fonts/Room/Room.otf");
}

@font-face {
	font-family: "Lato-Regular";
	src: url("css/fonts/Lato/Lato-Regular.ttf");
}

@font-face {
	font-family: "Lato-Light";
	src: url("css/fonts/Lato/Lato-Light.ttf");
}


body {
	margin: 0px;
	border: 0px;
	padding: 0px;
	background-image: url("../img/welcomeBackground.png");
	background-size: cover;
	background-position: center;
}

.perfomanceDiv, .logRegDiv {
	position: absolute;
}

.perfomanceDiv {
	top: 10%;
}

.logoImg {
	background-image: url("/img/logo.png");
	background-size: cover;
	background-position: center;
	width: 17px;
	height: 23px;
	float: left;
}

.slogon {
	background-image: url("/img/slogon.png");
	background-size: cover;
	background-position: center;
	width: 30px;
	height: 13px;
	float: left;
}

h1 {
	font-size: 24px;
  	font-family: "Lato-Regular";
  	color: rgb(0, 0, 0);
}

h2 {
	font-size: 14px;
  	font-family: "Lato-Light";
  	color: rgb(0, 0, 0);
}

.logRegDiv {
	width: 310px;
	top: 10%;
  	left: 55%;
}

.loginDiv, .regDiv {	
	padding: 15px 15px 8px 15px;
} 

.formHead {
	margin: auto;
	color: black;
	font-family: "Room";
	opacity: 1;
	font-size: 18px;
}

.loginDiv {
	margin-bottom: 30px;
}

.overlayLogin, .overlayReg {
	opacity: 0.18;
	border-radius: 3px;
	background-color: #6a6e74;
}

.overlayLogin {
	width: 310px;
  	height: 209px;
  	margin-bottom: -213px;
}

.overlayReg {
	width: 310px;
  	height: 264px;
  	margin-bottom: -268px;
}

.signinForm, .signupForm {
	text-align: center;
}

.inputData {
	margin-top: 10px;
}

input[type='textbox'], input[type='password'] {
	font-size: 12px;
  	font-family: "Roboto-Light";
  	color: rgb(180, 180, 180);
  	width: 260px;
  	height: 45px;
  	border-radius: 2px;
  	box-shadow: 0px 5px 7.6px 0.4px rgba(0, 0, 0, 0.05);
  	background-color: rgb(255, 255, 255);
  	padding: 0 10px 0 10px;
  	border: 0px;
  	margin-bottom: 10px;
}

.loginSubmit {
	border-radius: 2px;
	background-color: rgb(32, 64, 108);
	width: 280px;
  	height: 45px;
  	border: 0px;
  	font-size: 20px;
  	font-family: "Room";
  	color: rgb(255, 255, 255);
}