@font-face {
	font-family: "Roboto-Light";
	src: url("/css/fonts/Roboto/Roboto-Light.ttf");
}

@font-face {
	font-family: "Room";
	src: url("/css/fonts/Room/Room.otf");
}

@font-face {
	font-family: "Room-Thin";
	src: url("/css/fonts/Room/Room-Thin.otf");
}

@font-face {
	font-family: "Lato-Regular";
	src: url("/css/fonts/Lato/Lato-Regular.ttf");
}

@font-face {
	font-family: "Lato-Light";
	src: url("/css/fonts/Lato/Lato-Light.ttf");
}


body {
	margin: 0px;
	border: 0px;
	padding: 0px;
	background-image: url("/img/welcomeBackground.png");
	background-size: cover;
	background-position: center;
}

.mainDiv {
	min-width: 540px;
}

.perfomanceDiv, .logRegDiv {
	position: absolute;
	top: 11%;
}

.perfomanceDiv {
	left: 12%;
}

.imgDiv {
	width: 100%;
  	height: 121px;
}

.logoImg {
	background-image: url("/img/logo.png");
	background-size: cover;
	background-position: center;
	width: 58px;
  	height: 71px;
	float: left;
}

.slogon {
	background-image: url("/img/dark-label.png");
	background-size: cover;
	background-position: center;
	width: 143px;
  	height: 19px;
	float: left;
	margin-top: 27px;
  	margin-left: 10px;
}

h1 {
	font-size: 24px;
  	font-family: "Lato-Regular";
  	color: rgb(0, 0, 0);
  	margin-bottom: 32px;
}

h2 {
	font-size: 14px;
  	font-family: "Lato-Light";
  	color: rgb(0, 0, 0);
}

.logRegDiv {
	width: 310px;
	top: 10%;
  	left: 59%;
  	margin-bottom: 15px;
}

.loginDiv, .regDiv {	
	padding: 15px 15px 8px 15px;
	position: relative;
} 

.formHead {
	margin: auto;
	color: black;
	font-family: "Room";
	opacity: 1;
	font-size: 18px;
}

.loginDiv {
	margin-bottom: 30px;
	height: 182px;
}

.overlayLogin, .overlayReg {
	border-radius: 4px;
	background-color: rgba(176, 184, 193, 0.8);
  	opacity: 0.302;
}

.overlayLogin {
	width: 310px;
  	height: 200px;
  	margin-bottom: -200px;
}

.overlayReg {
	width: 310px;
  	height: 221px;
  	margin-bottom: -221px;
}

.signinForm, .signupForm {
	text-align: center;
}

.inputData {
	margin-top: 13px;
}

input[type='textbox'], input[type='password'] {
	font-size: 12px;
  	font-family: "Roboto-Light";
  	color: black;
  	width: 260px;
  	height: 30px;
  	border-radius: 2px;
  	box-shadow: 0px 5px 7.6px 0.4px rgba(0, 0, 0, 0.05);
  	background-color: rgb(255, 255, 255);
  	padding: 0 10px 0 10px;
  	border: 1px solid white;
  	margin-bottom: 10px;
}

input[type='textbox'], input[type='password']:hover {
	box-shadow: 0px 5px 7.6px 0.4px rgba(0, 0, 0, 0.1);
} 

input[type='textbox'], input[type='password']:active {
	box-shadow: 0px 5px 7.6px 0.4px rgba(0, 0, 0, 0.1);
}

.loginSubmit {
	border-radius: 2px;
	background-color: rgb(32, 64, 108);
	width: 280px;
  	height: 32px;
  	border: 0px;
  	font-size: 18px;
  	font-family: "Room-Thin";
  	color: rgb(255, 255, 255);
}

.errorDiv {
	background-image: url("/img/errorIcon.png");
	background-repeat: no-repeat;
	background-position-y: 5px;
  	background-position-x: 10px;
	float: left;
	margin-top: -40px;
  	margin-left: 282px;
  	width: 187px;
  	background-color: white;
  	height: 21px;
  	padding-top: 7px;;
  	padding-right: 6px;
  	text-align: right;
  	font-size: 12px;
  	font-family: "Roboto-Light"
}

.emailError {
	width: 140px;
}

.nameError {
	width: 131px;
}

.passError {
	width: 152px;
}

.forgotPass {
	font-family: "Roboto-Light";
	font-size: 12px;
	color: black;
	float: right;
	margin-top: 10px;
	
}

.resetPass {
	width: 115px;
}

@media screen and (max-width: 1200px) {

	input[type='textbox'], input[type='password'] {
		width: 180px;
	}

	.loginSubmit {
		width: 200px;
	}

	.logRegDiv {
		left: 54%;
		width: 230px;
	}

	.overlayLogin, .overlayReg {
		width: 230px;
	}

	.errorDiv {
		margin-left: 202px;
	}
}

@media screen and (max-width: 890px) {

	h1 {
		font-size: 16px;
	}

	h2 {
		font-size: 11px;
	}
}

@media screen and (max-width: 600px) {

	.logoImg {
		width: 30px;
  		height: 37px;
	}

	.slogon {
		margin-top: 10px;
	}

	h1, h2 {
		display: none;
	}

	.perfomanceDiv {
		position: inherit;
  		height: 40px;
  		margin: auto;
  		text-align: center;
  		display: flex;
  		margin-top: 15px;
	}

	.imgDiv {
		width: 183px;
		height: 40px;
  		margin: auto;
	}

	.logRegDiv {
		position: inherit;
		margin: auto;
		margin-top: 10px;
	}

	.errorDiv {
		background-position-y: 3px;
	  	margin-left: 200px;
	  	margin-top: -39px;
 		width: 175px;
  		height: 19px;
	  	font-size: 11px;
	}
}