@font-face {
	font-family: "Roboto-Light";
	src: url("/css/fonts/Roboto/Roboto-Light.ttf");
}

@font-face {
	font-family: "Room";
	src: url("/css/fonts/Room/Room.otf");
}

@font-face {
	font-family: "Room-Thin";
	src: url("/css/fonts/Room/Room-Thin.otf");
}

@font-face {
	font-family: "Lato-Regular";
	src: url("/css/fonts/Lato/Lato-Regular.ttf");
}

@font-face {
	font-family: "Lato-Light";
	src: url("/css/fonts/Lato/Lato-Light.ttf");
}


body {
	margin: 0px;
	border: 0px;
	padding: 0px;
	background-image: url("/img/welcomeBackground.png");
	background-size: cover;
	background-position: center;
}

.perfomanceDiv, .logRegDiv {
	position: absolute;
	top: 11%;
}

.perfomanceDiv {
	left: 12%;
}

.imgDiv {
	width: 100%;
  	height: 121px;
}

.logoImg {
	background-image: url("/img/logo.png");
	background-size: cover;
	background-position: center;
	width: 58px;
  	height: 71px;
	float: left;
}

.slogon {
	background-image: url("/img/dark-label.png");
	background-size: cover;
	background-position: center;
	width: 143px;
  	height: 19px;
	float: left;
	margin-top: 27px;
  	margin-left: 10px;
}

h1 {
	font-size: 24px;
  	font-family: "Lato-Regular";
  	color: rgb(0, 0, 0);
  	margin-bottom: 32px;
}

h2 {
	font-size: 14px;
  	font-family: "Lato-Light";
  	color: rgb(0, 0, 0);
}

.logRegDiv {
	width: 310px;
	top: 10%;
  	left: 57%;
}

.loginDiv, .regDiv {	
	padding: 15px 15px 8px 15px;
	position: relative;
} 

.formHead {
	margin: auto;
	color: black;
	font-family: "Room";
	opacity: 1;
	font-size: 18px;
}

.loginDiv {
	margin-bottom: 30px;
}

.overlayLogin, .overlayReg {
	opacity: 0.18;
	border-radius: 3px;
	background-color: #6a6e74;
}

.overlayLogin {
	width: 310px;
  	height: 186px;
  	margin-bottom: -186px;
}

.overlayReg {
	width: 310px;
  	height: 233px;
  	margin-bottom: -233px;
}

.signinForm, .signupForm {
	text-align: center;
}

.inputData {
	margin-top: 13px;
}

input[type='textbox'], input[type='password'] {
	font-size: 12px;
  	font-family: "Roboto-Light";
  	color: black;
  	width: 260px;
  	height: 36px;
  	border-radius: 2px;
  	box-shadow: 0px 5px 7.6px 0.4px rgba(0, 0, 0, 0.05);
  	background-color: rgb(255, 255, 255);
  	padding: 0 10px 0 10px;
  	border: 0px;
  	margin-bottom: 10px;
}

.loginSubmit {
	border-radius: 2px;
	background-color: rgb(32, 64, 108);
	width: 280px;
  	height: 36px;
  	border: 0px;
  	font-size: 20px;
  	font-family: "Room-Thin";
  	color: rgb(255, 255, 255);
}

.loginError {
	float: left;
	margin-top: -41px;
  	margin-left: 270px;
  	width: 233px;
  	background-color: white;
  	height: 23px;
  	padding-top: 5px;
  	padding-right: 6px;
  	text-align: right;
}

@media screen and (max-width: 900px) {


}