doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', type='text/css', href='css/bootstrap.css')
    link(rel='stylesheet', type='text/css', href='css/mailCSS.css')
    title Reset password
  body
    .wrapper
      .mainDiv
        div
          .logoDiv
            .logoImg
            .slogon
          .info
            .greeting Здравствуйте, username! Сменить пароль?
            br
            .message Кто-то (надеемся, что вы) попросил нас переустановить пароль для вашей учётной записи TeleNote. Если вы не запрашивали переустановку пароля - проигнорируйте это письмо.
          hr
          button.btn-default(type='submit') Переустановить пароль
          br
        .footer
          span (C) 2015 TeleNote. All Rights Reserved.
