extend layouts/outsideLayout.jade
block formsContainer
  .container__welcomeForm
    .welcomeForm__form
      .welcomeForm__formTitle= title
      br
      .welcomeForm__mailMsg= message
      br
      .welcomeForm__email#{email}
      br
      br
      .welcomeForm__mailMsg Проверьте свой почтовый ящик
      .welcomeForm__href_check
        a(href='/').js-backToMain вернуться на главную
