doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Reset password
  body(style='margin: 0px; font-size: 14px; font-family: "PTS"')
    div(style='width: 100%; display: inline-block; text-align: center;')
      div(style='width: 500px; padding: 10px 25px 10px 25px; margin: auto; margin-top: 70px;')
        div
          div(style='display: inline-block; margin-bottom: 30px;')
            div(style='background-image: url("http://tele-notes.7bits.it/resources/public/img/logo.png"); background-repeat: no-repeat; background-size: cover; width: 70px; height: 90px; display: inline-block; float: left;')
            div(style='background-image: url("http://tele-notes.7bits.it/resources/public/img/dark-label.png"); background-size: cover; float: left; margin-top: 19px; margin-left: 10px; width: 240px; height: 32px; background-repeat: no-repeat;')
          div(style='text-align: center; width: 90%; margin: auto;')
            div Здравствуйте, #{username}
            br
            div(style='text-align: left;') Кто-то(надеемся, что вы) воспользовался этим адресом электронной почты на TeleNote. Если вы не регистрировались на нашем сайте - проигнорируйте это письмо.
            div(style='text-align: left;') Если это все таки вы, то подтвердите регистрацию пожалуйста.
          hr(style='border-top: 1px solid #c0c0c0; width: 100%;')
          a(href="#{confirmLink}")
            button.btn-default(type='submit', style='font-family: "Room";	margin-top: 10px; border: 0px; color: white; background-color: #383838; width: 200px; height: 40px;') Подтвердить регистрацию
          br
        div(style='margin-top: 40px; color: #8e8e8e;')
          span (C) 2015 TeleNote. All Rights Reserved.

