doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', type='text/css', href='css/bootstrap.css')
    link(rel='stylesheet', type='text/css', href='css/mailCSS.css')
    title Reset password
  body
    .wrapper
      .mainDiv
        div
          .logoDiv
            .logoImg
            .slogon
          .info
            .greeting Здравствуйте, username
            br
            .message Кто-то(надеемся, что вы) воспользовался этим адресом электронной почты на TeleNote. Если вы не регистрировались на нашем сайте - проигнорируйте это письмо.
            .message Если это все таки вы, то перейдите по ссылке для подтверждения регистрации.
            .message= confirmLink
          hr
          button.btn-default(type='submit') Подтвердить регистрацию
          br
        .footer
          span (C) 2015 TeleNote. All Rights Reserved.

