doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', type='text/css', href='/css/src/errors.css')
    link(rel="shortcut icon", type="image/x-icon", href="/img/gulp/logo.png")
    script(src='js/libs/jquery-1.11.3.js')
    script(src='js/src/error.js')
  body.errorPage
    #js-back
      .errorPage__message
        h1= errorCode
        h2= message
        a(href='/telenote')
          .errorPage__backToMain
          | вернуться на главную
      .errorPage__footer
        .errorPage__logoImg
        .errorPage__slogon
