doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', type='text/css', href='/css/myCSS/errors.css')
  body
    .background
      .messageDiv
        h1 404
        h2 Страница не найдена
        a(href='/telenote')
          .backToMain
          | вернуться на главную
      .footer
        .logoImg
        .slogon
