doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name="_csrf", content="#{_csrf.token}")
    meta(name="_csrf_header", content="#{_csrf.headerName}")
    link(rel='stylesheet', type='text/css', href='css/src/telenote.css')
    link(rel='stylesheet', type='text/css', href='css/src/'+user.style+'.css')
    link(rel="shortcut icon", type="image/x-icon", href="img/logo.png")
    block links
    block scripts
    block title
      title Telenote
  body
    .page
      .page__header
        .header__logo
          a(href='/telenote')
            .header__logoImg
            .header__slogon
        .header__in-outMenu
          .header__logMenu
            a.header__username(href='/account')
              .header__user.js-user#{user.name}
            a.header__logout(href='/logout') Выход
          block userImgLink
      block content
    block modal
