extend layouts/outsideLayout.jade
block formsContainer
  .container__welcomeForm
    form.welcomeForm__form.welcomeForm__form_forgot(role='form', action='/resetpass', method='POST', name='resetForm')
      .welcomeForm__formTitle.welcomeForm__formTitle_forgot Восстановление пароля
      input(type='hidden', name='#{_csrf.parameterName}', value='#{_csrf.token}')
      input#js-logText.welcomeForm__textbox(type='textbox', name='email', placeholder='e-mail', value='email')
      if error
        .welcomeForm__error.loginError.resetPass
          span#js-loginError= error
      button.welcomeForm__button(type='submit') Продолжить
