doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', type='text/css', href='css/bootstrap.css')
    link(rel='stylesheet', type='text/css', href='css/mycss.css')
    title Sign up
  body
    .middlePlace
      #top
        .formBorder
      .mainDiv
        form.formStyle(role='form', action='/signup', method='POST')
          input(type="hidden", name="#{_csrf.parameterName}", value="#{_csrf.token}")
          .headerWrapper
            .form-group.nextBlock.btnPos
              a(href='/signin')
                button.btn-default.btnProperty(type='button') Войти
              a(href='/signup')
                button.btn-primary.btnProperty.rightBtn(type='button') Зарегистрироваться
          hr
          .inputDiv.nextBlock
            .form-group.regDiv
              label.labelProperty E-mail
              input.textboxRegProperty(type='textbox', name='email')
              label.labelProperty Имя
              input.textboxRegProperty(type='textbox', name='username')
              label.labelProperty Пароль
              input.textboxRegProperty(type='password', name='password', autocomplete='off')
              label.labelProperty Подтвердить пароль
              input.textboxRegProperty(type='password', name='passwordRepeat', autocomplete='off')
          hr
          .nextBlock.submitDiv
            button.btn-default.submiteBtn(type='submit') Зарегистрироваться
      #bottom
        .formBorder
      if errorMessages.length > 0
        for message in errorMessages
            p= message