doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', type='text/css', href='css/bootstrap.css')
    link(rel='stylesheet', type='text/css', href='css/telenote.css')
    title Telenote
  body
    .container
      .headWrapper
        .logoDiv
          img(src='img/convert.png')
        .slogonDiv
          span TeleNote
          br
          span#subSpan Synchronize your notes easily!
        .in-outMenu
          .userImg
            img(src='img/user.png')
          .logMenu
            a(href='/')
              span Hello, username!
            br
            a(href='signin') Logout
      hr
      .menuWrapper
        .noteManager
          button#manageBtn.btn.btn-default +
          button#manageBtn.btn.btn-default X
          button#manageBtn.btn.btn-default done/undone
          button#manageBtn.btn.btn-default cancel selection
        .dateBar
          input(type='textbox', name='dateBox', value='    /   /   ')
          span Date:
        .sortCheck
          table.table.table-bordered.centrum
            tbody
              tr
                th
                  input#normalize(type='checkbox', value='Category')
                  | Category
                th
                  input#normalize(type='checkbox', value='Priority')
                  | Priority
                th
                  input#normalize(type='checkbox', value='Date')
                  | Date
                th
                  input#normalize(type='checkbox', value='Done')
                  | Done
        span Soret by:
      hr
