doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', type='text/css', href='css/bootstrap.css')
    link(rel='stylesheet', type='text/css', href='css/telenote.css')
    title Telenote
  body
    .container
      .headWrapper
        .logoDiv
          img(src='img/convert.png')
        .slogonDiv
          span TeleNote
          br
          span#subSpan Synchronize your notes easily!
        .in-outMenu
          .userImg
            img(src='img/user.png')
          .logMenu
            a(href='/')
              span Привет, username!
            br
            a(href='/signin') Выход
        .addNoteDiv
          a.addNote(href='/') +
          span Новая заметка
      hr
      .workDiv
        .noteDiv
          - i = 0
          while (i < 9)
            if (i%3 == 2)
              .cell.lastcell(id=i)
                .content
                  textarea
                button.btn-default.delBtn Удалить
                button.btn-default.shaBtn Поделиться
                button.btn-default.edBtn Изменить
            else
              .cell(id=i)
                .content
                  textarea
                button.btn-default.delBtn Удалить
                button.btn-default.shaBtn Поделиться
                button.btn-default.edBtn Изменить
            - i = i + 1
