doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', type='text/css', href='css/bootstrap.css')
    link(rel='stylesheet', type='text/css', href='css/telenote.css')
    title Telenote
  body
    .container
      .headWrapper
        .logoDiv
          img(src='img/convert.png')
        .slogonDiv
          span TeleNote
          br
          span#subSpan Synchronize your notes easily!
        .in-outMenu
          .userImg
            img(src='img/user.png')
          .logMenu
            a(href='/')
              span Hello, username!
            br
            a(href='/signin') Logout
        .addNoteDiv
          a.addNote(href='/') +
          span New note
      hr
      .workDiv
        .noteDiv
          table.table
            tbody
              tr
                th
                  .cell
                    .content
                      textarea
                    button.btn-default.delBtn Delete
                    button.btn-default.shaBtn Share
                    button.btn-default.edBtn Edit
                th
                  .cell
                    .content
                      textarea
                    button.btn-default.delBtn Delete
                    button.btn-default.shaBtn Share
                    button.btn-default.edBtn Edit
                th
                  .cell
                    .content
                      textarea
                    button.btn-default.delBtn Delete
                    button.btn-default.shaBtn Share
                    button.btn-default.edBtn Edit
              tr
                th
                  .cell
                    .content
                      textarea
                    button.btn-default.delBtn Delete
                    button.btn-default.shaBtn Share
                    button.btn-default.edBtn Edit
                th
                  .cell
                    .content
                      textarea
                    button.btn-default.delBtn Delete
                    button.btn-default.shaBtn Share
                    button.btn-default.edBtn Edit
                th
                  .cell
                    .content
                      textarea
                    button.btn-default.delBtn Delete
                    button.btn-default.shaBtn Share
                    button.btn-default.edBtn Edit
              tr
                th
                  .cell
                    .content
                      textarea
                    button.btn-default.delBtn Delete
                    button.btn-default.shaBtn Share
                    button.btn-default.edBtn Edit
                th
                  .cell
                    .content
                      textarea
                    button.btn-default.delBtn Delete
                    button.btn-default.shaBtn Share
                    button.btn-default.edBtn Edit
                th
                  .cell
                    .content
                      textarea
                    button.btn-default.delBtn Delete
                    button.btn-default.shaBtn Share
                    button.btn-default.edBtn Edit