doctype html
html
  head
    link(rel='stylesheet', type='text/css', href='css/myCSS/welcome.css')
  body
    .mainDiv
      .perfomanceDiv
        .logoImg
        .slogon
        .perfomanceMessage
          h1
            | Организуйте дела, идеи, мысли.
            br
            | Делитесь с друзьями.
          h2
            | Зарегистрируйтесь на TeleNotes.
            br
            | Cоздавайте и редактируйте текстовые заметки.
            br
            | Записывайте мысли, идеи, дела, рецепты.
            br
            | Делитесь заметками с семьёй и друзьями.
            br
            | Ведите дела вместе.
      .logRegDiv
        .overlayLogin
        .loginDiv
          form.signinForm(role='form', action='/signin', method='POST', name='signinForm')
            span.formHead Вход
            input(type='hidden', name='', value='')
            .inputData
              input(type='textbox', ,='', name='username', placeholder='e-mail', value='')
              input(type='password', ,='', name='password', autocomplete='off', placeholder='пароль')
            button.loginSubmit(type='submit') Войти
        .overlayReg
        .regDiv
          form.signupForm(role='form', action='/signup', method='POST', name='signupForm')
            span.formHead Регистрация
            input(type='hidden', name='', value='')
            .inputData
              input(type='textbox', ,='', name='email', placeholder='e-mail', value='')
              input(type='textbox', ,='', name='username', placeholder='имя', value='')
              input(type='password', ,='', name='password', autocomplete='off', placeholder='пароль')
            button.loginSubmit(type='submit') Зарегистрироваться
